In [17]:
from array import *

1.  Create an array and traverse it.

In [18]:
arr = array('i',[12,122,33,45,25,63,11,6,2,22])

In [19]:
for i in arr:
    print(i)

# Note: Space Complexity for creating arr is O(n) and Time Complexity for traversing arr is O(n) as well.

12
122
33
45
25
63
11
6
2
22

2. Access individual elements through indexes

In [20]:
arr[0]

12

In [21]:
arr[-1]

22

In [22]:
arr[3:6]

array('i', [45, 25, 63])

In [23]:
arr[::-1]

# Note: Time and Space complexity for accessing any individual element from an array is O(1)

array('i', [22, 2, 6, 11, 63, 25, 45, 33, 122, 12])

3. Append any value to the array using the append() method

In [24]:
arr.append(100)

# Note: Appending a value at the end of an array has a Time and Space complexity of O(1)

In [25]:
arr

array('i', [12, 122, 33, 45, 25, 63, 11, 6, 2, 22, 100])

4. Insert value in an array using the insert() method

In [26]:
arr.insert(9,200)

In [27]:
arr

# Note: Inserting anywhere within the array has a Time Complexity of O(n) and Space Complexity of O(1)

array('i', [12, 122, 33, 45, 25, 63, 11, 6, 2, 200, 22, 100])

5. Extend an array using the extend method

In [28]:
arr2 = array('i',[1,2,3,4,5])

In [29]:
arr.extend(arr2)

In [30]:
arr

# Note: Extending the array has a Time and Space Complexity of O(n)

array('i', [12, 122, 33, 45, 25, 63, 11, 6, 2, 200, 22, 100, 1, 2, 3, 4, 5])

6. Add items from list into array using fromlist() method

In [31]:
my_list=[20,30,40,50]

In [32]:
arr.fromlist(my_list)

In [33]:
arr

array('i', [12, 122, 33, 45, 25, 63, 11, 6, 2, 200, 22, 100, 1, 2, 3, 4, 5, 20, 30, 40, 50])

7. Remove any array element using remove() method

In [34]:
arr.remove(12)

In [35]:
arr
# Note: Removing an element from the array has a Time Complexity of O(n) and a Space Complexity of O(1)

array('i', [122, 33, 45, 25, 63, 11, 6, 2, 200, 22, 100, 1, 2, 3, 4, 5, 20, 30, 40, 50])

8. Remove the last element of an array using the pop() method

In [37]:
print(arr)
arr.pop()
print(arr)

array('i', [122, 33, 45, 25, 63, 11, 6, 2, 200, 22, 100, 1, 2, 3, 4, 5, 20, 30, 40, 50])
array('i', [122, 33, 45, 25, 63, 11, 6, 2, 200, 22, 100, 1, 2, 3, 4, 5, 20, 30, 40])

9. Fetch any element through it's index using the index() method

In [40]:
arr.index(33)

1

10. Reverse an array using the reverse() method

In [59]:
arr.reverse()
print(arr)

array('i', [40, 30, 20, 5, 4, 3, 2, 1, 100, 22, 200, 2, 6, 11, 63, 25, 45, 33, 122])

11. Get array buffer information through buffer_info() method

In [60]:
arr.buffer_info()

(2203036858288, 19)

12. Check for number of occurences of an element using count() method

In [63]:
arr.count(2)

2

13. Convert array to list using tolist() method

In [65]:
print(arr.tolist())
print(arr)

[40, 30, 20, 5, 4, 3, 2, 1, 100, 22, 200, 2, 6, 11, 63, 25, 45, 33, 122]
array('i', [40, 30, 20, 5, 4, 3, 2, 1, 100, 22, 200, 2, 6, 11, 63, 25, 45, 33, 122])

15. Slice elements from an array

In [69]:
arr[3:10]

array('i', [5, 4, 3, 2, 1, 100, 22])

---

2D Arrays

In [70]:
import numpy as np

In [73]:
arr2 = np.array([[13,22,75,36],[22,74,90,10],[11,19,66,71]])

# Note: The time and space complexity for creating a 2d-array is O(mXn) where m = no. of rows and n=no. of columns

In [74]:
arr2

array([[13, 22, 75, 36],
       [22, 74, 90, 10],
       [11, 19, 66, 71]])