In [282]:
ints = [1,2,3,4,5]

In [283]:
type(ints)

list

In [284]:
strs = ["Hello", "Apple", "Fly", "Some other text"]

In [285]:
strs

['Hello', 'Apple', 'Fly', 'Some other text']

In [286]:
mixed = [1, "Hello", 2.3, False]

In [287]:
mixed

[1, 'Hello', 2.3, False]

In [288]:
type(mixed)

list

In [289]:
mixed[1:4]

['Hello', 2.3, False]

In [290]:
len(mixed)

4

In [291]:
# traversing a list
for item in mixed:
    print(item)

1
Hello
2.3
False

In [292]:
nested = [[1,2,3],24,['One', 'Two', 'Three'], [1,3,[2,4,6,8],5,7,9]]

In [293]:
len(nested)

4

In [294]:
nested

[[1, 2, 3], 24, ['One', 'Two', 'Three'], [1, 3, [2, 4, 6, 8], 5, 7, 9]]

In [295]:
nested[3][2][0]

2

In [296]:
# checking if an item exist in a list
'Hello' in mixed

True

In [297]:
# update list element
print(mixed)
mixed[0]=2
print(mixed)

[1, 'Hello', 2.3, False]
[2, 'Hello', 2.3, False]

In [298]:
# inserting in a list: (we can either insert an item at the begining, end, or within somewhere in a list. We can even insert lists in lists)
print(mixed)
mixed.insert(3,True)
print(mixed)

[2, 'Hello', 2.3, False]
[2, 'Hello', 2.3, True, False]

In [299]:
# item only added to the end of the list
mixed.append([1,2,3,4])

In [300]:
mixed

[2, 'Hello', 2.3, True, False, [1, 2, 3, 4]]

In [301]:
# adds more items to the list using an iterable
mixed.extend(range(4))

In [302]:
mixed

[2, 'Hello', 2.3, True, False, [1, 2, 3, 4], 0, 1, 2, 3]

In [303]:
# extend() is different from append() or insert() in that if a list is given, it will not add that list to an index,
# instead it will add each item of that list to a new index at the end of the list

print(mixed)
sample_list = [100,200,300]
mixed.append(sample_list)
print(mixed)
mixed.extend(sample_list)
print(mixed)

[2, 'Hello', 2.3, True, False, [1, 2, 3, 4], 0, 1, 2, 3]
[2, 'Hello', 2.3, True, False, [1, 2, 3, 4], 0, 1, 2, 3, [100, 200, 300]]
[2, 'Hello', 2.3, True, False, [1, 2, 3, 4], 0, 1, 2, 3, [100, 200, 300], 100, 200, 300]

Time, Space Complexities: 

Inserting an item: O(1), O(1)

Appending an item: O(1), O(1)

Extending a list: O(n), O(n)

In [304]:
#slicing (: is the slice operator)
print(mixed)
print(mixed[2:5])

[2, 'Hello', 2.3, True, False, [1, 2, 3, 4], 0, 1, 2, 3, [100, 200, 300], 100, 200, 300]
[2.3, True, False]

In [305]:
# updating the list using the slice operator
print(mixed)
print(mixed[7:10])
mixed[7:10] = [-1,-1,-1]
print(mixed)

[2, 'Hello', 2.3, True, False, [1, 2, 3, 4], 0, 1, 2, 3, [100, 200, 300], 100, 200, 300]
[1, 2, 3]
[2, 'Hello', 2.3, True, False, [1, 2, 3, 4], 0, -1, -1, -1, [100, 200, 300], 100, 200, 300]

In [306]:
# deleting from a list: pop(), delete(), remove() methods
print(mixed)
# pop() deletes the last item from the list by default, we can specify index of the element we want to remove as well
mixed.pop()
print(mixed)

[2, 'Hello', 2.3, True, False, [1, 2, 3, 4], 0, -1, -1, -1, [100, 200, 300], 100, 200, 300]
[2, 'Hello', 2.3, True, False, [1, 2, 3, 4], 0, -1, -1, -1, [100, 200, 300], 100, 200]

In [307]:
# using delete() method
print(mixed)
del mixed[3]
print(mixed)
# we can using slicing in delete method
del mixed[6:9]
print(mixed)

[2, 'Hello', 2.3, True, False, [1, 2, 3, 4], 0, -1, -1, -1, [100, 200, 300], 100, 200]
[2, 'Hello', 2.3, False, [1, 2, 3, 4], 0, -1, -1, -1, [100, 200, 300], 100, 200]
[2, 'Hello', 2.3, False, [1, 2, 3, 4], 0, [100, 200, 300], 100, 200]

In [308]:
# remove(): specify the element you want to remove
print(mixed)
mixed.remove('Hello')
print(mixed)

[2, 'Hello', 2.3, False, [1, 2, 3, 4], 0, [100, 200, 300], 100, 200]
[2, 2.3, False, [1, 2, 3, 4], 0, [100, 200, 300], 100, 200]

Time, Space Complexities

pop(): O(1) by default and O(n) otherwise, O(1)

delete(): O(n), O(1)

remove(): O(n), O(1)

In [309]:
# searching for an element in a list: O(n) Time Complexity and O(1) Space complexity
# Note: The IN operator has better Time complexity when used with sets and dictionaries which are implemented as hash tables
print(mixed)

[2, 2.3, False, [1, 2, 3, 4], 0, [100, 200, 300], 100, 200]

In [310]:
target = 1000
if target in mixed:
    print(str(target) + ' is in the list')
else:
    print(str(target) + ' is not in the list')

1000 is not in the list

In [311]:
# Linear Search: Print out the index of where the target value is located in the list
target = 200
index = 0
for i in mixed:
    if i == target:
        print(index)
    index +=1

7

In [312]:
# put it in a function
def linear_search(input_list,target):
    index = 0
    for i in input_list:
        if i == target:
            print(index)
        index +=1

In [313]:
linear_search(mixed,100)

6

In [314]:
sample_list

[100, 200, 300]

In [315]:
linear_search(sample_list,100)

0

In [316]:
# instead of using an index variable to keep track of the index, we can using enumerate()
for i, value in enumerate(mixed):
    print(i,value)

0 2
1 2.3
2 False
3 [1, 2, 3, 4]
4 0
5 [100, 200, 300]
6 100
7 200

In [317]:
# re-defining the linear search funtion to make use of the enumerate
def linear_search(input_list,target):
    for i,value in enumerate(input_list):
        if value == target:
            print(i)

In [318]:
linear_search(mixed,100)

6

In [319]:
# update the function so it doesn't return an error when an item is not in the list
def linear_search(input_list,target):
    for i,value in enumerate(input_list): # ---------> O(n)
        if value == target: # -----------------------> O(1)
            return i #-------------------------------> O(1)
    return 'Item not in the list' # -----------------> O(1)

# Total Time Complexity of Linear Search: O(n). Space Complexity will be O(1)

In [320]:
linear_search(mixed,0)

2

List Operations

In [321]:
# + Operator: Concatenate Lists

lst_1 = [0,1,2,3,4]
lst_2 = [5,6,7,8,9]

lst_3 = lst_1 + lst_2
print(lst_3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [322]:
# * operator for repetition
a = [0,1]
a = a * 10
print(a)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [323]:
# List funtions

# 1. len(): counting the number of elements in a list
print(a)
len(a)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

20

In [324]:
# else we would have used a loop to get to the number: The number of loops will be equal to the number of items
def count_length(input_array):
    length=0
    for i in input_array:
        length +=1
    return length

count_length(a)

20

In [325]:
# 2. max() method: find the maximum value in the list
sample_list = [41,33,82,100,22,33,1,12,2001,3,3,4,5,5,43,23,2,1,2,1000]
max(sample_list)

2001

In [326]:
# write a funtion that does the same thing i.e. find the maximun number from a given list

def find_max(input_array):
    max_number = input_array[0]
    for num in input_array:
        if num >= max_number:
            max_number = num
    return max_number

In [327]:
find_max(sample_list)

2001

In [328]:
# min(): Find the minimum value in a list
min(sample_list)

1

In [329]:
# write a funtion that will return the minimum value from a list
def find_min(input_array):
    min_number = input_array[0]
    for num in input_array:
        if num <= min_number:
            min_number = num
    return min_number

In [330]:
find_min(sample_list)

1

In [331]:
# 4. sum(): Find the sum of all the elements in a list

sum(sample_list)

3416

In [332]:
# Create a funtion that returns the sum of all the elements in a list

def find_sum(input_array):
    sum = 0
    for i in input_array:
        sum+=i
    return sum

In [333]:
find_sum(sample_list)

3416

In [334]:
# we can use the sum() and len() funtions to find the average of a list because there is no method avg()

sum(sample_list)/len(sample_list)

170.8

In [335]:
# create a funtion that returns the average of the numbers in a list

def avg(input_array):
    l = len(input_array)
    s = sum(input_array)
    average = s / l
    return average

In [336]:
avg(sample_list)

170.8

Lists and Strings

In [337]:
s = "Elephant"

In [338]:
type(s)

str

In [339]:
s = list(s)

In [340]:
s

['E', 'l', 'e', 'p', 'h', 'a', 'n', 't']

In [341]:
type(s)

list

In [342]:
s = "Cat Dog Lion"

In [343]:
s

'Cat Dog Lion'

In [344]:
s=list(s)

In [345]:
s

['C', 'a', 't', ' ', 'D', 'o', 'g', ' ', 'L', 'i', 'o', 'n']

In [346]:
s = 'Cat Dog Lion'

In [347]:
s

'Cat Dog Lion'

In [348]:
s = s.split()

In [349]:
s

['Cat', 'Dog', 'Lion']

In [350]:
s = 'Cat;Dog;Lion'

In [351]:
s = s.split(sep=';')

In [352]:
s

['Cat', 'Dog', 'Lion']

In [353]:
# joint() to convert the list back into the string
print(s)
separator = ';'
s = separator.join(s)
print(s)

['Cat', 'Dog', 'Lion']
Cat;Dog;Lion

Common pitfalls and ways to avoid them

1. Some functions return None when we try to use it's original name on the left of the assignment operator

In [354]:
myList = [1,3,2,44,5,3]

In [355]:
myList.sort()

In [356]:
myList

[1, 2, 3, 3, 5, 44]

In [357]:
myList = myList.sort()

In [358]:
print(myList)

# Note: Now this was unexpected. Always look at docs carefully. Best place to look: docs.python.org

None

2. There are many ways to do similar things

In [359]:
myList = [1,3,2,44,5,3]

In [360]:
myList.append(10)

In [361]:
myList

[1, 3, 2, 44, 5, 3, 10]

In [362]:
myList = myList + [10]

In [363]:
myList

[1, 3, 2, 44, 5, 3, 10, 10]

In [364]:
myList.append([10])
# This is a mistake. It will add another list with a single value of 10 and not just 10 as a value to our list

In [365]:
myList

# To avoid these kind of errors, try to run your code in an interactive environment

[1, 3, 2, 44, 5, 3, 10, 10, [10]]

3. Funtions like sort() updates the original list. Try to take copy of the original list if you want to preserve.

In [366]:
myList = [1,3,2,44,5,3]

In [367]:
og_myList = myList
# Note: Don't take copy like this

In [368]:
myList.sort()

In [369]:
myList

[1, 2, 3, 3, 5, 44]

In [370]:
og_myList
# see?

[1, 2, 3, 3, 5, 44]

In [371]:
# Let's do it again with proper way to copy
myList = [1,3,2,44,5,3]

In [372]:
og_myList = myList[:]

In [373]:
myList.sort()

In [374]:
myList

[1, 2, 3, 3, 5, 44]

In [375]:
og_myList

[1, 3, 2, 44, 5, 3]

In [376]:
# we can also use a funtion like sorted() instead of sort() method to avoid this problem as it will not change the original list
myList = [1,3,2,44,5,3]
print(sorted(myList))
print(myList)

[1, 2, 3, 3, 5, 44]
[1, 3, 2, 44, 5, 3]

**Lists vs Arrays**

Similarities:
1. Both data structures are mutable
2. Both can be indexed and iterated through
3. They can be both sliced

Differences:
1. Arrays are optimized for Arithematic Operations (can divide an array by a number for example while not a list)
2. Arrays can have only one type of data type (when string is used with int, everything will be converted to string)

---

List Comprehension: Creates a new list from an existing list

In [379]:
import numpy as np

In [383]:
#let's say I have a list
a = [1,2,3,4,5]
b=np.array([1,2,3,4,5])

# I want to create a new list that will be the element of the list multipled by 2 (or some other logic)
print(b*2)
print(a*2)
# I can do it with arrays but not with lists

# for list, I have the option of using loops to achieve the same
c=[]
for i in a:
    result = 2*i
    c.append(result)

print(c)

# but list comprehension makes it much simpler
c = [i*2 for i in a]
print(c)

[ 2  4  6  8 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [389]:
# List comprehension not not limited to list only. We can use it with other Python sequences like Range, String, Tuple, etc.
s = "My string"
t = [letter for letter in s]

In [390]:
t

['M', 'y', ' ', 's', 't', 'r', 'i', 'n', 'g']

Conditional List Comprehension

In [393]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [394]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [397]:
new_list = [i for i in my_list if i %2 == 0]
print(new_list)

[2, 4, 6, 8, 10]

In [398]:
a = [-11,23,-2,10,-90,100,-77,6]

In [411]:
new_list = [i**2 for i in a if i < 0]
print(new_list)

[121, 4, 8100, 5929]

In [409]:
# more complex if statements
sentence = 'My name is Zahid'

def is_consonant(letter):
    vowels = 'aeiou'
    return letter.isalpha() and letter.lower() not in vowels

consonants= [letter for letter in sentence if is_consonant(letter)]
print(consonants)

['M', 'y', 'n', 'm', 's', 'Z', 'h', 'd']

In [412]:
# to use if and else we can do it like this
a = [-11,23,-2,10,-90,100,-77,6]
new_list = [i**2 for i in a if i < 0]
print(new_list)

[121, 4, 8100, 5929]